<!DOCTYPE html>
<html ng-app="redditApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   
   
        @RenderBody()
        <hr />
       

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularCore")
    @Scripts.Render("~/bundles/angularThrdParty")
    @Scripts.Render("~/bundles/angularApp")

    @RenderSection("scripts", required: false)
</body>
</html>
